body {
    font-family: fangsong, sans-serif;
    color: DarkSlateGrey;
  }
  
  h1 {
    text-align: center;
  }
  
  body {
    background-color: Cornsilk;
  }
  
  table {
    background-color: BlanchedAlmond;
    font-size: 15px;
    border: 2px solid darkslategrey; 
  }
  
  thead {
    font-weight: bold;
    font-size: 17px;
  }
  
  td {
    padding: 10px;
  }
  
  .value {
    font-family: monospace;
    color: DarkCyan;
  }
  
  .property {
     font-family: monospace;
     color: CornflowerBlue;
  }
