body {
    font-family: fangsong, sans-serif;
    color: DarkSlateGrey;
  }
  
  h1 {
    text-align: center;
  }

  h2 {
    text-align: center;
    margin: 50px 15px 15px 15px;
  }
  
  body {
    background-color: Cornsilk;
  }
  
  table {
    background-color: BlanchedAlmond;
    font-size: 15px;
    border: 2px solid darkslategrey; 
    min-width: 80%;
    margin: auto;
  }
  
  thead {
    font-weight: bold;
    font-size: 17px;
  }
  
  td {
    padding: 10px;
  }
  
  .value {
    font-family: monospace;
    color: DarkCyan;
  }
  
  .property {
     font-family: monospace;
     color: CornflowerBlue;
  }
